<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>图书馆后台管理系统-登录</title>
    <link rel="stylesheet" type="text/css" href="./layui/css/layui.css" media="all" />
    <link rel="stylesheet" type="text/css" href="./css/login.css" />
</head>
<body class="beg-login-bg">
    <div class="beg-login-box">
        <header>
            <h1>图书馆后台管理系统</h1>
        </header>
        <div class="beg-login-main">
            <form action="login" class="layui-form" method="post">
                <div class="layui-form-item">
                    <label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
                    <input type="text" lay-verify="required" name="loginName" id="loginName" autocomplete="off" placeholder="这里输入账号" class="layui-input" lay-verType="tips">
                </div>
                <div class="layui-form-item">
                    <label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
                    <input type="password" lay-verify="required" name="password" id="password" autocomplete="off" placeholder="这里输入密码" class="layui-input" lay-verType="tips">
                </div>
                <div class="layui-form-item">
                    <div class="beg-pull">
                        <button type="button" onclick="login()" class="layui-btn layui-btn-normal" style="width:100%;">
                            登　　录
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <p>power by dw © </p>
        </footer>
    </div>
    <script type="text/javascript" src="./javascript/jquery.min.js"></script>
    <script type="text/javascript" src="./layui/layui.js"></script>
    <script type="text/javascript" src="./javascript/login.js"></script>
    <script>
        function login() {
            var loginName = document.getElementById("loginName").value;
            var password = document.getElementById("password").value;
            console.log(loginName, password)
            if(!loginName){
                alert("用户名不可为空")
            }
            if(!password){
                alert("密码不可为空")
            }
            $.ajax({
                url: "/library/auth/login",
                type: "post",
                data: {loginName: loginName, password: password},
                dataType: "json",
                success: function (res) {
                    if(res.code===500){
                        alert(res.message);
                    }else{
                        window.location.href="/library/index?token="+res.data.token;
                    }

                }
            })
        }
    </script>
</body>
</html>